.footer {
  text-align: center;
  padding: 20px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  font-weight: 500;
  color: var(--gray-text-color);
}

.fixed-footer {
  bottom: 0;
  position: fixed;
}