.sign-in-button {
  padding-right: 1em;
  padding-left: 1em;
  color: white;
  height: 3em;
  font-weight: 600;
  background-color: #008054;
  border-radius: 12px;
  cursor: pointer;
  border: 0;
  z-index: 5;
}

.sign-in-button:hover {
  background-color: #006642;
}

.sign-in-button:active {
  background-color: #014931;
}

.menu-button {
  border: 0;
  padding: 0.7em;
  height: 3em;
  cursor: pointer;
  margin-right: 1em;
  margin-top: 0.3em;
  z-index: 5;
  background-color: transparent;
  border-radius: 12px;
}

.menu-button:hover {
  background-color: #eeeeee;
}

.menu-button:active {
  background-color: #d5d5d5;
}

.title {
  margin-bottom: 3em;
}

.nav-menu-description {
  color: #767676;
  font-size: 0.9em;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  text-align: center;
  margin: 0;
}

.nav-menu-signin-button {
  padding: 0.7em;
  font-weight: 500;
  z-index: 6;
  color: white;
  cursor: pointer;
  background-color: #008054;
  border-radius: 12px;
  border: 0;
}

.nav-menu-signin-button:hover {
  background-color: #006642;
}

.nav-menu-signin-button:active {
  background-color: #014931;
}