html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.message-toast {
  font-family: "Roboto", sans-serif !important;
  font-size: 0.87em;
  border: 1px solid var(--border-color);
}

:root {
  --toastify-color-success: #008054;
  --toastify-color-error: #b3261e;
  --invalid-error: #b3261e;
  --transparent-color: white;
  --transparent-hover-color: #e6e6e6;
  --transparent-active-color: #b4b4b4;
  --border-color: #cccccc;
  --light-gray: #eeeeee;
  --dark-gray: #d5d5d5;
  --gray-text-color: #5c5c5c;
  --darker-gray-text-color: #4c4c4c;
  --gray: #929292;
  --hint-color: #767676;
  --accent-green: #008054;
  --accent-dark-green: #006642;
  --accent-darker-green: #014931;
}

body:has(.darkened-background) {
  overflow: hidden;
}

* {
  font-family: "Roboto", sans-serif !important;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.87em;
  font-style: normal !important;
}

.main {
  display: flex;
  flex-direction: row;
}

.darkened-background {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog-size {
  position: fixed;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  padding-top: 2em;
  height: 40em;
  padding-bottom: 1em;
}

.dialog-wrap {
  background: white;
  box-shadow: 0px 1px 52px -20px #000000;
  -webkit-overflow-scrolling: touch;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

.dialog-close-button-container {
  display: flex;
  justify-content: right;
  margin-right: 1.8em;
}

.dialog-title {
  font-weight: 500;
  font-size: 1.2em;
  margin: 0;
  margin-left: 1.5em;
  margin-bottom: 1.2em;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: scroll;
  padding-left: 2em;
  padding-right: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.dialog-buttons-container {
  border-top: 1px solid var(--border-color);
  padding-top: 1em;
  display: flex;
  gap: 1em;
  padding-right: 1em;
  justify-content: end;
}

.accent-button {
  padding: 0.9em;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background-color: var(--accent-green);
  border-radius: 12px;
  border: 0;
}

.accent-button:hover {
  background-color: var(--accent-dark-green);
}

.accent-button:active {
  background-color: var(--accent-darker-green);
}

.default-button {
  border: 0;
  padding: 0.9em;
  height: 3em;
  cursor: pointer;
  background-color: transparent;
  border-radius: 12px;
}

.close-button {
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 0.5em;
  border-radius: 8px;
}

.default-button:hover,
.close-button:hover {
  background-color: var(--light-gray);
}

.default-button:active,
.close-button:active {
  background-color: var(--dark-gray);
}

.transparent-button {
  padding: 0.9em;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--transparent-color);
  border-radius: 12px;
  border: 0;
  outline: 1px solid var(--border-color);
}

.transparent-button:hover {
  background-color: var(--transparent-hover-color);
}

.transparent-button:active {
  background-color: var(--transparent-active-color);
}

.header-sign-in-button {
  margin-left: 1em;
}
