.filter-title {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.2em;
}

.custom-period-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.custom-period-inputs {
    display: flex;
    align-items: center;
}

.custom-period-input {
    width: 4em;
    height: 2em;
    border: #CCCCCC 1.5px solid;
    border-radius: 6px;
}

.custom-period-input-invalid {
    outline: 2px solid #B3261E;
}

.custom-period-input:focus {
    outline: 1px solid #008054;
}

.custom-period-input:focus-visible {
    outline: 1px solid #008054;
}

.custom-period-button {
    width: 7em;
    padding: 0.7em;
    color: #5C5C5C;
    font-weight: 600;
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 12px;
    border: 0;
}

.custom-period-button:hover {
    background-color: #e2e2e2;
}

.custom-period-button:active {
    background-color: #c8c8c8;
}

.filter-container {
    display: flex;
    margin-bottom: 2em;
    flex-direction: column;
    gap: 1em;
}