.date-picker-container {
  position: relative;
  width: 100%;
  float: left;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.date-picker {
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  margin: 0;
  border: 1px solid #cccccc;
}

.date-picker-icon {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  pointer-events: none;
}

.date-picker-icon button {
  border: none;
  background: transparent;
}

.date-picker-invalid {
  outline: 1px solid #b3261e;
}

.date-picker:not(.date-picker-invalid):focus {
  outline: 1px solid #008054;
}

.date-picker:not(.date-picker-invalid):focus-visible {
  outline: 1px solid #008054;
}
