.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 28em;
}

.sign-in-form-title {
  font-size: 2em;
  font-weight: 700;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.sign-in-form-logo {
  height: 0.8em;
}

.sign-in-form-google-button {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
  cursor: pointer;
  z-index: 6;
  font-weight: 500;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 12px;
}

.sign-in-form-google-button:hover {
  background-color: #e6e6e6;
}

.sign-in-form-google-button:active {
  background-color: #b4b4b4;
}

.sign-in-form-divider {
  width: 100%;
  align-items: center;
  display: flex;
  color: #929292;
  gap: 1em;
}

.sign-in-form-divider-line {
  width: 50%;
  border-bottom: 1px solid #dcdcdc;
}

.sign-in-form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.sign-in-form-email {
  position: relative;
}

.sign-in-form-email input {
  padding-left: 3em;
}

.sign-in-form-email img {
  position: absolute;
  top: 58%;
  left: 1em;
}

.sign-in-form-password {
  position: relative;
}

.sign-in-form-password input {
  padding-left: 3em;
  padding-right: 3em;
}

.sign-in-form-password-icon {
  position: absolute;
  top: 52%;
  left: 1em;
  height: 1.3em;
}

.sign-in-form-password button {
  position: absolute;
  top: 48%;
  right: 2em;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #929292;
  font-size: 1.4em;
}

.sign-in-form-forward-button {
  padding: 0.7em;
  color: white;
  width: 100%;
  font-weight: 600;
  background-color: #008054;
  border-radius: 12px;
  cursor: pointer;
  border: 0;
}

.sign-in-form-forward-button:hover {
  background-color: #006642;
}

.sign-in-form-forward-button:active {
  background-color: #014931;
}

.sign-in-form-forgot-password {
  font-size: 0.8em;
  color: #929292;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}

.sign-in-form-forgot-password:hover {
  color: #757575;
}

.sign-in-form-forgot-password:active {
  color: #4c4c4c;
}
