.dialog-change-password {
  height: auto;
  overflow-y: hidden;
}

.change-password-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: relative;
}

.change-password-container:not(:first-child) input {
  padding-right: 3em;
}

.change-password-icon {
  position: absolute;
  top: 52%;
  left: 1em;
  height: 1.3em;
}

.change-password-container button {
  position: absolute;
  top: 48%;
  right: 2em;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #929292;
  font-size: 1.4em;
}