.search-result-container {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.search-result-title {
    margin: 0;
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
    color: #1155CC;
}

.search-result-title:visited {
    color: #3600AE;
}

.search-result-title:hover {
    text-decoration: underline;
}

.search-result-site:hover {
    text-decoration: underline;
}

.search-result-site {
    margin: 0;
    text-decoration: none;
    color: var(--accent-green);
}

.search-result-snippet {
    margin: 0;
}
