<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
    "
  >
    <div
      style="
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      "
    >
      <h1 style="color: #333">Добрый день, {{name}}!</h1>
      <p>Эти статьи на тему {{theme}} могут быть вам интересны.</p>
      <div>
        {{articles}}
      </div>
      <p>Благодарим за использование БНТУ Умный поиск!</p>
    </div>
  </body>
</html>
