.redirect-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redirect-search-container {
  display: flex;
  height: 3em;
  margin-bottom: 2em;
}

.redirect-search-icon {
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border: 2px solid var(--gray);;
  border-right: 0;
  display: flex;
  justify-content: center;
  padding-left: 1em;
}

.redirect-search-icon img {
    width: 1.5em;
}

.redirect-search-input {
  width: 50em;
  flex-grow: 1;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border: 2px solid var(--gray);;
  border-left: 0;
  height: auto;
  outline: none;
  padding-left: 15px;
}
