.sign-up-form {
  width: 30em;
  height: 100%;
  align-content: center;
}

.sign-up-form-google-button {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
  cursor: pointer;
  z-index: 6;
  font-weight: 500;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 12px;
}

.sign-up-form-google-button:hover {
  background-color: #e6e6e6;
}

.sign-up-form-google-button:active {
  background-color: #b4b4b4;
}

.sign-up-form-divider {
  width: 100%;
  align-items: center;
  display: flex;
  color: #929292;
  gap: 1em;
}

.sign-up-form-divider-line {
  width: 50%;
  border-bottom: 1px solid #dcdcdc;
}

.sign-up-form-double-container {
  display: flex;
  gap: 1em;
}

.sign-up-form-single-container {
  width: 50%;
}

.sign-up-form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.sign-up-form-buttons {
  margin-top: 1em;
  display: flex;
  gap: 2em;
  justify-content: center;
}

.sign-up-form-back-button {
  padding: 0.7em;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #cccccc;
}

.sign-up-form-back-button:hover {
  background-color: #e6e6e6;
}

.sign-up-form-back-button:active {
  background-color: #b4b4b4;
}

.sign-up-form-forward-button {
  padding: 0.7em;
  color: white;
  width: 100%;
  font-weight: 600;
  background-color: #008054;
  border-radius: 12px;
  cursor: pointer;
  border: 0;
}

.sign-up-form-forward-button:hover {
  background-color: #006642;
}

.sign-up-form-forward-button:active {
  background-color: #014931;
}

.sign-up-form-progress {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-bottom: 2em;
  position: relative;
}

.sign-up-form-progress-step {
  height: 1em;
  width: 1em;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
}

.sign-up-form-progress-step-active {
  background-color: #008054;
}

.sign-up-form-progress-step-finished {
  background-color: #014931;
}

.sign-up-form-agreement {
  color: #929292;
  font-size: 0.8em;
  text-align: center;
  margin-top: 1em;
}

.sign-up-form-agreement-hidden {
  display: none;
}

.sign-up-form-email {
  position: relative;
}

.sign-up-form-email input {
  padding-left: 3em;
}

.sign-up-form-email img {
  position: absolute;
  top: 48%;
  left: 1em;
}

.sign-up-form-password {
  position: relative;
}

.sign-up-form-password input {
  padding-left: 3em;
  padding-right: 3em;
}

.sign-up-form-password-icon {
  position: absolute;
  top: 52%;
  left: 1em;
  height: 1.3em;
}

.sign-up-form-password button {
  position: absolute;
  top: 48%;
  right: 2em;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #929292;
  font-size: 1.4em;
}

.sign-up-form-status-container {
  display: flex;
  justify-content: space-between;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}