.nav-menu {
  position: fixed;
  top: 6em;
  right: 2em;
  width: 20em;
  z-index: 5;
  display: flex;
  flex-direction: column;
  border: 1px solid #cccccc;
  background-color: white;
  border-radius: 20px;
  padding: 0.5em;
  padding-bottom: 0;
}

.nav-menu-actions-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}

.nav-menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
  /* gap: 1.3em; */
  padding-bottom: 2em;
}

.nav-menu-button {
  padding: 1em;
  color: #5c5c5c;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  width: 100%;
  cursor: pointer;
  z-index: 6;
  background-color: white;
  border: 0;
  border-radius: 12px;
}

.nav-menu-button img {
  width: 1.7em;
  margin-right: 1em;
}

.nav-menu-button:hover {
  background-color: #eeeeee;
}

.nav-menu-button:active {
  background-color: #d5d5d5;
}

.nav-menu-button-container {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid #dcdcdc;
}

.nav-menu-close-button-container {
  margin-top: 0.5em;
  width: 100%;
  display: flex;
  justify-content: right;
}

.nav-menu-close-button {
  border: none;
  cursor: pointer;
  background: transparent;
  margin-right: 0.5em;
  padding: 0.5em;
  border-radius: 8px;
}

.nav-menu-close-button:hover {
  background-color: #eeeeee;
}

.nav-menu-close-button:active {
  background-color: #d5d5d5;
}

.nav-menu-user-name {
  margin: 0;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.nav-menu-description {
  color: #767676;
  font-size: 0.9em;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  text-align: center;
  margin: 0;
}

.nav-menu-signup-button {
  padding: 0.7em;
  font-weight: 500;
  z-index: 6;
  color: white;
  cursor: pointer;
  background-color: #008054;
  border-radius: 12px;
  border: 0;
}

.nav-menu-signup-button:hover {
  background-color: #006642;
}

.nav-menu-signup-button:active {
  background-color: #014931;
}
